<a href='<%= container_url(@container) %>'>Back to container: <%= @container.name %></a>

<hr />

<b> Viewing item: <%= @item.name %></b>

<hr />

<%= form_with url: item_path(@item), method: :put do |form| %>
  <%= form.text_field :name, value: @item.name %>
  <%= form.submit "Update" %>
<% end %>


<hr />

<%= form_with url: destroy_item_path(@item) do |form| %>
  <%= form.submit "DELETE" %>
<% end %>
