<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <style>
      body {
        font-size: 1.3em;
        background-color: black;
        color: white;
      }
      body a, a:visited {
        color: lightgreen;
      }
      body a:hover {
        color: green;
      }
    </style>
  </head>

  <body>
    <% if flash[:error].present? %>
      <h1><%= flash[:error] %></h1>
      <hr />
    <% end%>

    <%= render "auth_container"  %>

    <hr />
    <a href='<%= search_url  %>'>search items</a>

    <hr />

    <%= yield %>
  </body>
</html>
